<center>
    <p>
        <h1>Dont F@#! with my PTO</h1>
    </p>
</center>



<div class = "container">
{% block content %}
{% endblock  %}
</div>



<center>
    <button type="button">
        <a href="{% url 'home' %}">Home</a>
    </button>
       
    <button type="button">
        <a href="{% url 'new_req' %}">Send new request</a>
    </button>
    
    <button type="button">
        <a href="{% url 'list_request' %}">My time OFF diary</a>
    </button>
</center>

<center><br><h10>Created by tu papa</h10></center></br></center>
