{% extends 'track/base.html' %}

{% block content %}


    
        <h1>Requests made</h1>
        <table class = "table table-striped table-hover table-bordered">

            {% for item in request_list %}
            <tr>
                <td>
                    Request using <!--<a href="{% url 'show_request' item.id %}">--> {{ item }}</a>
                     - was sent on {{item.was_sent}}</a></br>
                    <td align="right">
                        <a href="{% url 'update_request' item.id %}" class="btn btn-secondary">
                        Modify entry</a>
                    </td>
                    <td align="right">
                        <a href="{% url 'delete_request' item.id %}" class="btn btn-danger">
                        Delete entry</a></td>
                    </td>
                </td>
            </tr>
            {% endfor %}
        </table>
    
        


{% endblock %}
    